ion-card {
  width: 100%;
  height: 100px;
  margin: 20px 10px;
  border-radius: 24pt;
  padding: 5px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
